<html lang="en">
<head>
    <title>Explainer</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/explanations.css">
</head>
<body>
<body>
<div class="page-container flex-column">
    {{>header}}
    <div class="main flex-column flex-item">
        <p class="flex-item">Faster learning for any framework, library, or language</p>
        <div class="flex-row flex-item">
            <div class="flex-item example bg-light">
                <p>Why use this</p>
                <div class="bg-dark">
                    <code>
                        <label>
                            <textarea placeholder="Paste code here..."></textarea>
                        </label>
                    </code>
                </div>
            </div>
            <div class="flex-item example bg-light">
                <p>When you could use this?</p>
                <div class="bg-dark">
                    <code id="example"></code>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-item"></div>
    {{>footer}}
</div>
</body>
</body>
</html>

